.btn-primary {
  background-color: black;
}
.btn-group-lg, .btn-group-lg {
  border-radius: 0;
}
.col-md-4 {
  height: 50px;
}
.black {
  background-color: black;
}
.gray {
  background-color: gray;
}
.black {
  background-color: black;
}
.cursive {
  font-family: 'Pacifico', cursive;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
