.btn-primary {
  background-color: black;
}
.btn-group-lg, .btn-group-lg {
  border-radius: 0;
}
.col-md-4 {
  height: 50px;
}
.black {
  background-color: black;
}
.gray {
  background-color: gray;
}
.black {
  background-color: black;
}
.cursive {
  font-family: 'Pacifico', cursive;
}
